.game-creation-panel-friends{
	width: 380px;
	position: absolute;
	right:0;
	top:0;
	margin-right: 8px;
}

.welcome{
	padding : 10px;
	width:100%;
	position: relative;
}

.game-creation-container{
	width: 100%;
	box-sizing: border-box;
	padding-right: 390px;
	position: relative;
}

.button-checkbox{
	float: right;
	margin: top 7px;
}

.welcome-user-details{
	position: absolute;
	right: 20px;
	top: 10px;

}
.points{
	font-weight: bold;	
}

.filter-friend{
	float:right;
	width:240px;
}