html,body{
	margin:0;
	padding: 0;
}

body {
  color: #666;
  background: #fff;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
}

/* own styles*/

.logo .fa-question:before {
  content: "\f128";
  color: white;
  font-family: FontAwesome;
  font-size: 12px;
  position: relative;
  top: -35px;
  left: 39px;
  z-index: 1;
}

.logo .fa-comments:after {
  content: "\f086";
  font-family: FontAwesome;
  font-size: 28px;
  color: #27ae60;
  position: relative;
  top: -27px;
  left: -63px;
}


.intro {
  background: #f1f1f1;
  width: 100%;
}

.intro-text {
  padding-top: 30px;
}

.logo{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

.logo + h4{
  position: relative;
  top: -23px;
  margin: 0;
  color: #2ecc71;
  margin-left: 120px;
}

.logo span{
  margin-left: 21px;
}

/* flat UI colors*/

.bg.nephritis{background:#27AE60;}
.bg.clouds{background:#bdc3c7;}

.color.turquoise{color:#1ABC9C;}
.color.green-sea{color:#16A085;}
.color.emerland{color:#2ECC71;}
.color.nephritis{color:#27AE60;}
.color.peter-river{color:#3498DB;}
.color.belize-hole{color:#2980B9;}
.color.amethyst{color:#9B59B6;}
.color.wisteria{color:#8E44AD;}
.color.wet-asphalt{color:#34495E;}
.color.midnight-blue{color:#2C3E50;}
.color.sun-flower{color:#F1C40F;}
.color.orange{color:#F39C12;}
.color.carrot{color:#E67E22;}
.color.pumpkin{color:#D35400;}
.color.alizarin{color:#E74C3C;}
.color.pomegranate{color:#C0392B;}
.color.clouds{color:#bdc3c7;}
.color.silver{color:#BDC3C7;}
.color.concrete{color:#95A5A6;}
.color.asbestos{color:#7F8C8D;}

.content{
  padding: 20px;
}



